
body{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  img {
    width: 600px;
    margin: auto;
    border-radius: 50px;
    padding-top: 50px;
  }
  
  #i1{
    font-size: 2em;
    color: red;
  }
  
  #i2{
    font-size: 2em;
    color: rgb(36, 221, 129);
    padding-left: 500px;
  }
  
  button>i{
    font-size: 3em;
    
    
  }
  button{
    background-color: transparent;
    border: none;
    padding-top: 10px;
  }
  
  /*.dark-mode {
      background-color: black;
      color: white;
    }*/
  
  
  .light{
      font-size: 0.8em;
      color: white;
      border-color: transparent;
  }
  
  .dark{
      background-color: rgb(9, 9, 9);
      color: white;
  }
  
  span{
      font-weight: bolder;
  }
  